.App {
  text-align: center;
  width: 90%;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.app-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20, 0, 20, 0;
}
